.form-input {
  position: relative;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 8px;

  &:after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #000;
  }
}

