@import "/src/styles/colors";

.chat {
  background-color: $color-dark-grey;
  color: $color-white;
  display: grid;
  font-size: 12px;
  gap: 0 0;
  grid-template-areas:
    "contacts header"
    "contacts messages"
    "contacts input-message";
  grid-template-columns: 330px auto;
  grid-template-rows: 100px auto 60px;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  .chat-messages {
    grid-area: messages;
    overflow: auto;

    .messages {
      height: calc(100vh - 135px);
      margin: 0 20px;
      overflow: auto;
      padding-bottom: 50px;
      padding-top: 50px;

      .chat-message {
        background-color: $color-primary;
        border-radius: 0 10px 10px;
        line-height: 140%;
        margin-bottom: 10px;
        max-width: 400px;
        padding: 20px;

        &._my {
          border-radius: 10px 0 10px 10px;
          margin-left: auto;
        }

        &._image {
          background-color: $color-white;
          border-radius: 10px;
          display: flex;
          padding: 0;

          img {
            border-radius: 10px;
            max-width: 100%;
          }
        }

        ._time {
          color: $color-light-grey;
          text-align: end;
        }
      }
    }
  }


}
