@import "/static/styles/colors";

.button {
  align-items: center;
  background-color: $color-dark-grey;
  color: $color-white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 60px;
  justify-content: center;
  user-select: none;
  width: 284px;

  &.button-secondary {
    background-color: $color-white;
    color: $color-dark-grey;
  }
}
