@import "/static/styles/colors";

.button {
  align-items: center;
  background-color: $color-dark-grey;
  color: $color-white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 60px;
  justify-content: center;
  user-select: none;
  width: 284px;

  &.button-secondary {
    background-color: $color-white;
    color: $color-dark-grey;
  }

  &.button-link {
    background-color: $color-white;
    border-style: none;
    color: $color-dark-grey;
    font-size: inherit;
  }
  &.button-link:hover {
    text-decoration: underline;
  }
}
