.avatar-wrapper {
  border-radius: 50%;
  box-shadow: 1px 1px 15px -5px black;
  height: 120px;
  margin-right: 50px;
  overflow: hidden;
  position: relative;
  width: 120px;

  .file-upload {
	width: 0;
  }

  .profile-pic {
	cursor: pointer;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

  }

}