extends ../../main.pug
include ../../components/button/button.pug

block content
    div.error-page
        div.error-page-content
            div.form-title="доступ запрещен"
            div.form-sub-title="попробуйте зайти чуть позже"
            +primaryLink('На главную страницу')(href="~/static/pages/login/login.pug")

append scripts
    script(src="./errors.js")