@import "/static/styles/colors";

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  background-color: $color_white;
  color: $color_dark_grey;
  font-size: 12px;
  overflow: hidden;

  .error-page-content {
    display: flex;
    flex-direction: column;
    max-width: 455px;

    .button {
      margin-top: 50px;
      width: 355px;
      color: $color_white;
    }
  }

}
