@import "/src/styles/colors";

.profile {
  background-color: $color-dark-grey;
  color: $color-white;
  display: grid;
  font-size: 12px;
  gap: 0 0;
  grid-template-areas: "menu content";
  grid-template-columns: 310px auto;
  grid-template-rows: auto;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  .settings-menu {
    display: flex;
    align-items: flex-start;
    padding: 20px;

    ._back {
      color: #FFFFFF;
      font-size: 24px;
    }
  }

  .content {
    background-color: $color-profile-content;
    grid-area: content;
    overflow: auto;
    padding-bottom: 100px;

    .user-form, .password-form, .controls {
      background-color: $color-white;
      border-radius: 10px;
      margin: 50px auto 0;
      padding: 40px;
      width: 600px;


    }

    .form_controls {
      display: flex;
      justify-content: flex-end;
      margin-top: 50px;
    }
  }

  .form-title {
    margin-bottom: 30px;
    color: $color-dark-grey;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 120px;
    }
  }
}
