@import "/static/styles/colors";
.registration-page {
  color: $color-white;
  display: grid;
  font-size: 12px;
  gap: 0 0;
  grid-template-areas: "login registration";
  grid-template-columns: 500px auto;
  grid-template-rows: auto;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  .registration-form {
    align-items: center;
    color: $color-dark-grey;
    display: flex;
    flex-direction: column;
    grid-area: registration;
    justify-content: center;
    padding: 0 10px;

    .form-input {
      max-width: 355px;
      min-width: 355px;
    }

    .form-sub-title {
      margin-bottom: 50px;
      max-width: 355px;
    }

    .button {
      color: $color-white;
      margin-top: 50px;
      width: 355px;
    }
  }

  .login {
    align-items: center;
    background-color: $color-dark-grey;
    box-shadow: 2px 0 18px 9px #1e1e1e63;
    display: flex;
    flex-direction: column;
    grid-area: login;
    justify-content: center;
    padding: 0 10px;

    .button {
      width: 355px;
    }
  }
}
