@import "/src/styles/colors";
.chat-contacts {
  grid-area: contacts;
  padding: 0 10px;

  .contacts-profile-link {
    color: $color-light-grey;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

    ._link {
      align-items: center;
      display: flex;
    }

    ._icon {
      font-size: smaller;
    }

    ._text {
      margin-right: 5px;
    }
  }

  .contacts-search {
    .search-input {
      background-color: $color-grey;
      border: none;
      border-radius: 5px;
      color: inherit;
      height: 40px;
      outline: none;
      padding: 0 20px;
      width: 100%;

      &:focus::input-placeholder {
        visibility: hidden;
      }

      &::input-placeholder {
        color: $color-light-grey;
        text-align: center;
      }
    }
  }

  .contacts-list {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
    max-height: calc(100vh - 120px);
    overflow: auto;

    li:first-child {
      .contacts-item {
        border-top: 1px solid $color-chat-border;
      }
    }

    li:last-child {
      .contacts-item {
        border-bottom: 1px solid $color-chat-border;
      }
    }

    li + li {
      .contacts-item {
        border-top: 1px solid $color-chat-border;
      }
    }

    li:hover {
      background-color: $color-primary;

      .contacts-item {
        border: none;

        ._counter {
          background-color: $color-dark-grey;
          color: $color-white;
        }
      }

      & + li {
        .contacts-item {
          border-top: none;
        }
      }
    }
  }
}
