@import "/static/styles/colors";

.button {
  width: 284px;
  height: 60px;
  background-color: $color-dark-grey;
  color: $color-white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;


  &._secondary {
    color: $color-dark-grey;
    background-color: $color-white;
  }

}