mixin primaryButton(title, classNames="")
    button(class=`button ${classNames}`)&attributes(attributes)=title

mixin primaryLink(title, classNames="")
    a(class=`button ${classNames}`)&attributes(attributes)=title

