@import "/static/styles/colors";

.error-page {
  align-items: center;
  background-color: $color-white;
  color: $color-dark-grey;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100vh;
  justify-content: center;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  .error-page-content {
    display: flex;
    flex-direction: column;
    max-width: 455px;

    .button {
      color: $color-white;
      margin-top: 50px;
      width: 355px;
    }
  }
}
