extends ./main.pug

block nav
    ul
        li
            a(href='pages/chat/chat.pug') Chat
        li
            a(href='pages/profile/profile.pug') Profile
        li
            a(href='pages/login/login.pug') Login