extends ./main.pug

block nav
    ul.index-main-menu
        li
            a(href='pages/chat/chat.pug') Chat
        li
            a(href='pages/profile/profile.pug') Profile
        li
            a(href='pages/login/login.pug') Login
        li
            a(href='pages/registration/registration.pug') Registration
        li
            a(href='pages/errors/500.pug') 500
        li
            a(href='pages/errors/404.pug') 404
