@import 'components/input/input';
@import 'components/button/button';
@import 'components/avatarUpload/avatarUpload';
@import 'styles/colors';
//$color_h1: tomato;

body {
  font-family: Gilroy, Roboto, Arial, FontAwesome, serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

._visible {
  display: block;
}

._hidden {
  display: none !important;
}

.form-title {
  font-size: 40px;
  margin-bottom: 2px;
}

.form-sub-title {
  font-size: 24px;
  margin-bottom: 40px;
}

.index-main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  height: 100vh;

  li + li {
    margin-top: 20px;
  }
}



