extends ../../main.pug
include ../../components/input/input.pug
include ../../components/button/button.pug

block content
    div.registration-page
        form.registration-form
            div
                h1.form-title="регистрация"
                h3.form-sub-title="Создайте учетную запись пользователя"
                +formInput("Имя", "Вася")(name='first_name')
                +formInput("Фамилия","Пупкин", "Пупкин придуманный персонаж", true)(name='second_name')
                +formInput("Email","pupkintheone@yandex.ru")(name='email')
                +formInput("Телефон", "+70001212312")(name='phone')
                +formInput("Имя в чате", "@masha18", "Имя обязательно должно быть классное")(name='display_name')
                +primaryButton('Создать аккаунт')


        div.login
            div
                h4.form-title="вход"
                h5.form-sub-title="Если есть аккаунт"
                +primaryLink('Войти', "_secondary")(href="~/static/pages/login/login.pug")

append scripts
    script(src="./registration.js")