@import "/static/styles/colors";
.registration-page {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: auto;
  grid-template-areas: "login registration";
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  gap: 0 0;
  color: $color_white;
  font-size: 12px;
  overflow: hidden;

  .registration-form {
	grid-area: registration;
	padding: 0 10px;
	color: $color_dark_grey;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;

	.form-input {
	  min-width: 355px;
	  max-width: 355px;
	}

	.form-sub-title {
	  margin-bottom: 50px;
	  max-width: 355px;
	}

	.button {
	  margin-top: 50px;
	  width: 355px;
	  color: $color_white;
	}
  }

  .login {
	grid-area: login;
	display: flex;
	flex-direction: column;
	background-color: $color_dark_grey;
	padding: 0 10px;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 0 18px 9px #1e1e1e63;

	.button {
	  width: 355px;
	}
  }
}