$color-grey: #333;
$color-dark-grey: #1e1e1e;
$color-light-grey: #999;
$color-white: #fff;

$color-chat-border: #eaeaea;
$color-profile-content: #fafafa;

$color-primary: #9b51e0;
$color-error: #f44336;
